/**
 * Styles for the Customizer user interface
 */
@import '_colors';
@import '_typography';

body {
	font-family: $sans;
	color: $text;

	@supports ( font-variation-settings: normal ) {
		font-family: $inter;
	}
}

#customize-outer-theme-controls .accordion-section-content,
#customize-theme-controls .accordion-section-content {
	color: $text;
}

a {
	color: #cd2653;
}

.wp-full-overlay-sidebar,
.wp-full-overlay-sidebar .wp-full-overlay-header,
.customize-controls-close {
	background: $white;
	color: $text;
}

.customize-controls-close {
	width: 45px;
	height: 45px;
	padding: 0;
	border: none;

	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		        justify-content: center;
	}
}

.customize-controls-close:focus,
.customize-controls-close:hover,
.customize-controls-preview-toggle:focus,
.customize-controls-preview-toggle:hover {
    background: #cd2653;
	color: $white;
    outline: 0;
    box-shadow: none;
}

#customize-controls .customize-info {
	border-bottom: none;
}

.customize-panel-back,
.customize-section-back {
	border: none;
}

#customize-controls .customize-info .panel-title,
#customize-controls .customize-pane-child .customize-section-title h3,
#customize-controls .customize-pane-child h3.customize-section-title,
#customize-outer-theme-controls .customize-pane-child .customize-section-title h3,
#customize-outer-theme-controls .customize-pane-child h3.customize-section-title {
	font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: -0.0415625em;
	color: $text;
}

#customize-controls .customize-info .customize-panel-description,
#customize-controls .customize-info .customize-section-description,
#customize-controls .no-widget-areas-rendered-notice,
#customize-outer-theme-controls .customize-info .customize-section-description {
	font-family: $serif;
	font-size: 1.8rem;
	line-height: 1.2;

	@supports ( font-variation-settings: normal ) {
		font-family: $crimson;
	}
}

#customize-controls .customize-info .preview-notice,
.control-panel-themes .accordion-section-title span.customize-action {
	font-family: $serif;
	font-size: 1.6rem;

	@supports ( font-variation-settings: normal ) {
		font-family: $crimson;
	}
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
	padding: 1em;
	line-height: 1;
	background: #cd2653;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	color: $white;
	font-family: $inter;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.0333em;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;

	&:hover,
	&:focus {
		text-decoration: underline;

		&:before,
		&:after {
			font-family: 'dashicons';
		}
	}

	&:before,
	&:after {
		text-decoration: none;
	}
}

.customize-save-button-wrapper {
	display: -webkit-box;
	display: flex;
	background: #cd2653;
}

#publish-settings {
	height: auto;
	line-height: 1;
}

.wp-core-ui .button.collapse-sidebar {
	font-size: 1rem;

	&:hover,
	&:focus {
		color: #cd2653;
	}
}

.wp-full-overlay .collapse-sidebar:focus .collapse-sidebar-arrow,
.wp-full-overlay .collapse-sidebar:hover .collapse-sidebar-arrow,
#available-menu-items .item-add:focus:before,
#customize-controls .customize-info .customize-help-toggle:focus:before,
.customize-screen-options-toggle:focus:before,
.menu-delete:focus,
.menu-item-bar .item-delete:focus:before,
.wp-customizer .menu-item .submitbox .submitdelete:focus,
.wp-customizer button:focus .toggle-indicator:before {
	box-shadow: none;
}

.wp-full-overlay-footer .devices button:focus:before,
.wp-full-overlay-footer .devices button:hover:before,
#customize-controls .customize-info .customize-help-toggle:focus,
#customize-controls .customize-info .customize-help-toggle:hover,
#customize-controls .customize-info.open .customize-help-toggle {
	color: #cd2653;
}

.wp-full-overlay-footer .devices button.active:hover,
.wp-full-overlay-footer .devices button:focus {
	border-bottom-color: #cd2653;
}

.wp-core-ui .button:focus,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:focus,
.wp-core-ui .button-secondary:hover,
.add-menu-toggle.open,
.add-menu-toggle.open:hover,
.adding-menu-items .add-new-menu-item,
.adding-menu-items .add-new-menu-item:hover,
body.adding-widget .add-new-widget,
body.adding-widget .add-new-widget:hover {
	background: #cd2653;
	color: $white;
}

.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
    color: $medium_gray !important;
	background: $pale_gray !important;
	border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: default;
}

.customize-action {
	width: 100%;
}

#customize-theme-controls .control-panel-themes .accordion-section-title .change-theme {
	position: relative;
	top: unset;
	right: unset;
	margin: 0;
	float: right;
	-webkit-transform: translateY(-1rem);
	        transform: translateY(-1rem);
	font-weight: 600;
}

#customize-outer-theme-controls .accordion-section-title,
#customize-theme-controls .accordion-section-title {
	border-top: solid 1px $pale_gray;
	border-bottom: none;
}

#customize-theme-controls .control-panel-themes > .accordion-section-title,
#customize-theme-controls .control-panel-themes > .accordion-section-title:hover {
	padding-right: 1rem;
	color: $text;
	border: none;
	text-decoration: none;
}

#customize-outer-theme-controls h3.accordion-section-title,
#customize-theme-controls h3.accordion-section-title {
	padding-left: 1rem;
	border: none;
	font-size: 1.5625rem;
	font-weight: 650;
	color: #cd2653;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

#customize-theme-controls li.control-panel-themes .accordion-section-title {
	padding-left: 1rem;
}

#customize-save-button-wrapper {
	margin-top: 3px;
	margin-top: 0.1875rem;
}

#customize-save-button-wrapper .save {
	border-radius: 0px;
}

#customize-controls .control-section .accordion-section-title:focus,
#customize-controls .control-section .accordion-section-title:hover,
#customize-controls .control-section.open .accordion-section-title,
#customize-controls .control-section:hover > .accordion-section-title,
#customize-outer-theme-controls .control-section .accordion-section-title:focus:after,
#customize-outer-theme-controls .control-section .accordion-section-title:hover:after,
#customize-outer-theme-controls .control-section.open .accordion-section-title:after,
#customize-outer-theme-controls .control-section:hover > .accordion-section-title:after,
#customize-theme-controls .control-section .accordion-section-title:focus:after,
#customize-theme-controls .control-section .accordion-section-title:hover:after,
#customize-theme-controls .control-section.open .accordion-section-title:after,
#customize-theme-controls .control-section:hover > .accordion-section-title:after {
	color: #cd2653;
}

.customize-control-header button.random .dice {
	margin: 0;
	&.dashicons {
		vertical-align: middle;
	}
}