.primary-menu ul {
	background: rgba(0,0,0,0.7);

	& :after {
		border-bottom-color: rgba(0,0,0,0.7);
	}
}

body:not(.overlay-header) {

	.primary-menu {

		ul {
			background: rgba(0,0,0,0.7);

			& :after {
				border-bottom-color: rgba(0,0,0,0.7);
			}
		}

		& > li > ul:after {
			border-bottom-color: rgba(0,0,0,0.7);
		}
	}
}